* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

header {
    position: absolute;
    width: 100%;
}

.container {
    max-width: 1110px;
    margin: auto;
}

.heading {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.d-flex {
    display: flex;
    justify-content: space-between;
}

header ul {
    display: flex;
    list-style: none;
}

.li_center {
    margin: 0px 10px;
}

.li_head {
    line-height: 150%;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

.background {
    background-image: url('../images/Rectangle121.svg');
    background-size: cover;
    height: 80vh;
    padding-top: 107px;
}

section h1 {
    margin-bottom: 30px;
    font-size: 56px;
    line-height: 130%;
    color: #FFFFFF;
    text-shadow: 0px 0px 166px #000000;
    font-family: 'Gothic A1', sans-serif;
    font-weight: 400;
}

.background article {
    max-width: 512px;
    display: flex;
    align-items: center;
    background: #FFFFFF;
    border-radius: 20px;
    margin-bottom: 98px
}

.background img {
    margin-left: 33px;
    margin-right: 33px;
}

.background p {
    font-size: 20px;
    color: #000000;
    padding: 37.49px 33px 34.17px 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.order_button {
    background: linear-gradient(90deg, #4C6071 0%, #55BDEA 100%);
    box-shadow: 0px 0px 166px rgba(0, 0, 0, 0.2), 8px 8px 109px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 20px 50px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
    border: 0;
}

.section_bottom {
    padding-bottom: 158px;
}

.img_100 {
    width: 100%;
}

.main_img {
    display: block;
    margin-bottom: 203.27px;
    margin-top: 15px;
}

.width {
    width: 385px;
}

.about_us {
    font-family: 'Gothic A1', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 130%;
    color: #000000;
    margin-bottom: 30px;
}

.about {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    color: #000000;
    margin-bottom: 20px;

}

.bold {
    font-weight: bold;
}

.section_footer {
    max-width: 770px;
    display: block;
}

.img_absolut {
    position: absolute;
    right: 0;
}

.img_with100 {
    width: 100%;
    display: block;
}

.section4 {
    width: 410px;
}

form {
    display: block;
    max-width: 392px;
}

.input2 {
    width: 100%;
    margin-bottom: 40px;
    border: none;
    border-bottom: solid 1px;
    height: 29px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.input3 {
    width: 100%;
    margin-bottom: 60px;
    border: none;
    border-bottom: solid 1px;
    height: 29px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.img_maxwith615 {
    max-width: 615px;
}

.section_bottom150 {
    padding-bottom: 150px;
    text-align: center;
}

.main_img2 {
    display: block;
    padding-bottom: 152px;
}

.section_bottom150 img {
    width: 100%;
}

.section_bottom150 h2 {
    margin-bottom: 52px;
    margin-left: 95px;
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: #373737;
    text-align: left;
}

.section_bottom150 h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: left;
    padding-top: 20px;
}

.item {
    max-width: 255px;
    position: relative;
    display: block;
}

.img_pading {
    padding-top: 40px;
}

.section_bottom150 a {
    display: inline-block;
    margin-top: 70px;
}

.background2 {
    background-image: url('../images/background.png');
    background-size: cover;
    padding-bottom: 95px;
    padding-top: 60px;
}

.background2 h2 {
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: #FFFFFF;
    padding-left: 95px;
    margin-bottom: 87px;
}

.background2 h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    padding-top: 20px;
}

.background2 p {
    padding-top: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}

.pisition {
    position: absolute;
    left: 96px;
    top: 78px;
}

.section_bottom5 {
    padding-bottom: 200px;
}

.main_img4 {
    display: block;
    padding-bottom: 201px;
    margin-top: 15px;
}
.background6 {
    background-color: rgba(76, 96, 113, 1);
    background-image: url('../images/group.svg');
    background-size: cover;
    padding-bottom: 60px;
    padding-top: 60px;
}
.background6 h2{
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: #FFFFFF;
    padding-left: 95px;
}
.pading{
    padding-bottom: 67px;
}
.background6 article{
    background: #FFFFFF;
    border-radius: 20px;
    padding: 50px 30px;
    width: 255px;
    margin: 0 15px;
}
.background6 img{
    display: block;
    margin: 0 auto 50px;
}
.background6 h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #373737;
    margin-bottom: 10px;
}
.background6 p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #373737;
}
.main_img6 {
    display: block;
    padding-bottom: 182px;

}
.section7{
    margin-bottom: 181px;
    margin-top: 15px;
    text-align: center;
}
.section7 h2{
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: #373737;
    padding-left: 95px;
    text-align: left;
}
.padingh{
    padding-bottom: 50px;
}
.section7 h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #373737;
    text-align: left;
    padding-bottom: 10px;
}
.section7 p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #373737;
    text-align: left;
}
.section7 a {
    display: inline-block;
    margin-top: 80px;
}
.img_review {
    max-width: 540px;
    display: block;
}
.img_style{
    padding-bottom: 20px;
}
footer{
    background-color: rgba(76, 96, 113, 1);
    background-image: url('../images/group.svg');
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
}
footer ul{
    display: flex;
    list-style: none;
}
footer h2{
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: #FFFFFF;
    padding-bottom: 30px;
}
footer h4{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    padding-bottom: 30px;
}
footer ul li{
    margin-right: 24px;
}
footer ul li a:before{
    content: "";
    display: inline-block;
    background-image: url("../images/icon11.svg");
    width: 22px;
    height: 22px;
}
footer ul li:nth-child(2) a:before{
    background-image: url("../images/icon22.svg");
}
footer ul li:nth-child(3) a:before{
    background-image: url("../images/icon33.svg");
}
footer ul li:last-of-type a:before{
    background-image: url("../images/icon44.svg");
}
.ask_a_footer{
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}
.pading_a_footer{
    padding-bottom: 30px;
}
.map{
    max-width: 540px;
    height: 146px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.map_backgr{
    background-color: black;
    opacity: 0.6;
    position: absolute;
    width: 100%;
    color: white;
    padding-top: 40px;
    text-align: center;
    height: 100%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
}
.zero{

}